---
import { FaCalendarAlt, FaUser, FaComments } from 'react-icons/fa';
const {post} = Astro.props
---

<article
    class="bg-white rounded-lg overflow-hidden shadow-sm hover:shadow-md transition-shadow duration-300"
>
    <div class="aspect-w-16 aspect-h-9 sm:aspect-w-4 sm:aspect-h-3">
        <img
            src={post.data.heroImage}
            alt={post.data.title}
            class="object-cover w-full h-full"
        />
    </div>
    <div class="p-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">
            <a href={`/blog/${post.id}`} class="hover:text-blue-600"
                >{post.data.title}</a
            >
        </h2>
        <p class="text-gray-600 text-sm mb-4 line-clamp-3 sm:line-clamp-2">
            {post.data.description}
        </p>
        <div class="flex items-center justify-between text-gray-500 text-xs">
            <span class="flex items-center">
                <FaUser className="mr-1" />
                {post.author}
            </span>
            <span class="flex items-center">
                <FaCalendarAlt className="mr-1" />
                {post.data.pubDate}
            </span>
            <!-- <span class="flex items-center">
                <FaComments className="mr-1" />
                {post.comments} Comments
            </span> -->
        </div>
    </div>
</article>
