---
import { FaPhoneAlt } from "react-icons/fa";
import { FaLocationDot } from "react-icons/fa6";
import { frontmatter as heroData } from "../content/home/hero_content.md";
---

<section class="text-white relative">
    <div class="relative font-averia_sans hidden md:block">
        <svg
            width="100%"
            height="auto"
            viewBox="0 0 1448 262"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            class="w-full h-auto"
        >
            <path d="M0 0L1448 0L0 262L0 0Z" fill="#0F2A3B"></path>
        </svg>

        <!-- triangle section -->
        <div class="absolute top-0 left-0 w-full p-8 text-xl">
            <div class="flex flex-col space-y-2">
                <!-- phone numbers -->
                <div class="flex space-x-6">
                    <div class="flex items-center space-x-2">
                        <FaPhoneAlt />
                        <a href={`tel:${heroData.phone1}`} class="underline"
                            >{heroData.phone1}</a
                        >
                    </div>
                    <div class="flex items-center space-x-2">
                        <FaPhoneAlt />
                        <a href={`tel:${heroData.phone2}`} class="underline"
                            >{heroData.phone2}</a
                        >
                    </div>
                </div>
                <!-- location -->
                <div class="flex items-start space-x-2 w-1/2">
                    <FaLocationDot />
                    <a href="#" class="underline">{heroData.address}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- main hero -->
    <div class="flex flex-row w-full items-start">
        <div class="container px-4 flex flex-row justify-center w-full">
            <!-- title and heading -->
            <div class="flex flex-col w-fit">
                <span
                    class="bg-primary text-3xl md:text-6xl rounded-sm px-3 md:px-5 font-pacifico underline p-2 w-fit mb-4"
                >
                    {heroData.name}
                </span>
                <h1
                    class="text-4xl md:text-6xl text-primary font-bold mb-4 md:mb-8"
                >
                    {heroData.title}
                </h1>
                <!-- <h4 class="text-primary font-averia_sans max-w-2xl text-sm md:text-base">
                    {heroData.description}
                </h4> -->
            </div>
        </div>
        <!-- image -->
        <div class="bg-white w-1/2 h-full">
            <img
                src="/profile.png"
                alt="Dr. Waseem Andraabi"
                class="absolute top-20 right-20 bottom-0 transform"
            />
        </div>
    </div>
</section>
